/*============page2=================*/


.two-slide-inner{
    width:100%;
    height:100%;
    background-image: url("../image/bgpink.jpg");
    background-size: cover;
}
.two-inner-up{
    width:100%;
    height:50%;
    /*background: pink;*/
}
.two-inner-up > img{
    position:absolute;
    top: 5%;
    left: 12.5%;
    width: 75%;
}
.two-inner-up > img[data-type="we"]{
    width: 50%;
    top: 12%;
    left: 28%;
}
.two-inner-up > img[data-property="we-hua"]{
    width: 70%;
    top: 8%;
    left: 16%;
}
.two-inner-up > img.showWe[data-type="we"]{
    animation:showWe 3s;
    -webkit-animation:showWe 3s;
}
@keyframes showWe
{
    from {
        transform: scale(2,2);
        opacity: 0;
    }
    to {
        transform: scale(1,1);
        opacity: 1;
    }
}
.two-inner-up > img[data-type="water"]{
}
.two-inner-up > img.showWater[data-property="shui0"]{
    animation:leftWater 3s;
    -webkit-animation:leftWater 3s;
}
@keyframes leftWater
{
    from {
        left:-100%;
    }
    to {

    }
}
.two-inner-up > img.showWater[data-property="shui1"]{
    animation:rightWater 3s;
    -webkit-animation:rightWater 3s;
}
@keyframes rightWater{
    from {
        left:100%;
    }
    to {

    }
}

.two-rotateInfinite{
    animation:two-rotateInfinite 12s infinite linear;
    -webkit-animation:two-rotateInfinite 12s infinite linear;
}
@keyframes two-rotateInfinite
{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);;
    }
}

.two-inner-up > img[data-type="hua"]{

}
.two-inner-up > img[data-property="hua_0"]{
    width: 30%;
    top: -3px;
    left: 20px;
}
.two-inner-up > img[data-property="huashu1"]{
    width: 30%;
    top: -70px;
    left: -20px;
}
.two-inner-up > img[data-property="huashu2"]{
    width: 40%;
    top: -60px;
    left: 50px;
}
.two-inner-up > img[data-property="hua_2"]{
    width: 35%;
    top: -30px;
    left: 145px;
}
.two-inner-up > img[data-property="huashu3"]{
    width: 50%;
    top: -40px;
    left: 60%;
}
.two-inner-up > img[data-property="hua_3"]{
    width: 20%;
    top: -15px;
    left: 83%;
}
/*===========page2down==========*/
.two-inner-down{
    width:100%;
    height:50%;
    /*background: antiquewhite;*/
    position: relative;
}
.two-inner-down > img{
    position:absolute;
    top:0;
    left:0;
}
.two-inner-down > img[data-type="save"]{
    width: 50%;
    left: 25%;
    top:2%;
}
.two-inner-down > img.saveShow[data-type="save"]{
    animation:saveShow 2s;
    -webkit-animation:saveShow 2s;
}
@keyframes saveShow {
    from{
        transform:translate(0,300%);
        opacity:0;
    }
    to{
        transform:translate(0,0);
        opacity:1;
    }
}
.two-inner-down > img[data-type="bird"]{
    top: 0;
    width: 15%;
    left: 66%;
}
.two-inner-down > img.birdShow[data-type="bird"]{
    animation:birdShow 3.5s;
    -webkit-animation:birdShow 3.5s;
}
@keyframes birdShow {
    from{
        transform:translate(100%,0);
        /*opacity:0;*/
    }
    to{
        transform:translate(0,0);
        /*opacity:1;*/
    }
}


.two-inner-down p{
    font-family: "Î¢ÈíÑÅºÚ";
    color:#A17C19;
    /*background: antiquewhite;*/
    font-size: 18px;
    width:100%;
    height:30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    opacity:0;
}
.two-inner-down p:nth-of-type(1){
    top: 20%;
}
.two-inner-down p:nth-of-type(2){
    top: 30%;
}
.two-inner-down p:nth-of-type(3){
    top: 40%;
}
.two-inner-down p:nth-of-type(4){
    top: 50%;
}
.two-inner-down p:nth-of-type(5){
    top: 60%;
}
.two-inner-down p.showWord:nth-of-type(1){
    animation:showWord 3s;
    -webkit-animation:showWord 3s;
    animation-fill-mode : forwards;
}
.two-inner-down p.showWord:nth-of-type(2){
    animation:showWord 2.7s;
    -webkit-animation:showWord 2.7s;
    animation-delay: .3s;
    animation-fill-mode : forwards;
}
.two-inner-down p.showWord:nth-of-type(3){
    animation:showWord 2.4s;
    -webkit-animation:showWord 2.4s;
    animation-delay: .6s;
    animation-fill-mode : forwards;
}
.two-inner-down p.showWord:nth-of-type(4){
     animation:showWord 2.1s;
     -webkit-animation:showWord 2.1s;
     animation-delay: .9s;
     animation-fill-mode : forwards;
 }
.two-inner-down p.showWord:nth-of-type(5){
    animation:showWord 1.8s;
    -webkit-animation:showWord 1.8s;
    animation-delay: 1.2s;
    animation-fill-mode : forwards;
}
@keyframes showWord {
    from{
        transform:translate(0,300%);
        opacity:0;
    }
    to{
        transform:translate(0,0);
        opacity:1;
    }
}
.two-inner-up > img[data-type="hua"]{
    opacity:0;
}
.two-inner-down > img[data-type="huashu"]{
    opacity:0;
}
.two-inner-down > img[data-property="huashu1"]{
    width: 50%;
    top: 72%;
    left: -10%;
}
.two-inner-down > img[data-property="hua2"]{
    top: 75%;
    left: 18%;
    z-index: 2;
}
.two-inner-down > img[data-property="huashu2"]{
    width: 50%;
    top: 66%;
    left: 10%;
    z-index: 1;
}
.two-inner-down > img[data-property="hua3"]{
    top: 75%;
    left: 38%;
}
.two-inner-down > img[data-property="huashu3"]{
    width: 50%;
    top: 66%;
    left: 58%;
}
.two-inner-up > img.showFlowers[data-type="hua"],.two-inner-down > img.showFlowers[data-type="huashu"]{
    animation:showFlowers 3s;
    -webkit-animation:showFlowers 3s;
    animation-fill-mode : forwards;
    animation-delay: 2s;
}
@keyframes showFlowers
{
    from {
        opacity:0;
        transform:scale(0,0);
    }
    to {
        opacity:1;
        transform:scale(1,1);
    }
}



